<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MathNet.Numerics" publicKeyToken="CD8B63AD3D691A37" culture="neutral"/>
				<bindingRedirect oldVersion="2011.4.17.0" newVersion="2.1.2.21"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
