<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MeanVarianceEntities" connectionString="metadata=res://*/MeanVariance.csdl|res://*/MeanVariance.ssdl|res://*/MeanVariance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BORISK;initial catalog=MeanVariance;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>